# 1. אבטחת מידע - קבצים רגישים ומפתחות לענן
*.pem
*.key
.env
aws-creds*
.aws/

# 2. קבצי מערכת של פייתון (מנפחים את האימג' ויוצרים בעיות תאימות)
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/

# 3. ניהול גרסאות והגדרות של סביבת העבודה
.git
.gitignore
.vscode/
.idea/

# 4. קבצי תיעוד והסברים שאין להם שימוש בריצה
*.md
README.md
LICENSE